body {
background: #F8F9FA;
width: 100%;
margin-top: 0;
margin-left: 0;
}

header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    background-color: #343A40;
    color: white;
    align-items: center;
}

#header-one,
#header-two,
#header-three {
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 0;
}

#header-one{
    margin-left: 0;
}

.main-sec {
    display: flex;
    flex-wrap: wrap;
}

.header-img:hover{
    width: auto;
    border: 2px solid #6C757D;
    border-radius: 20px;
    background-color: #6C757D;
    margin: auto;
}


.logo{
    margin-left: 43px;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 32px;
    width: 32px;
} 


h2{
    font-size: 16px;
    font-weight: 700;
    margin: 16px;
} 

.header-img {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-left: 32px;
    margin-top: 18px;
    margin-bottom: 18px;
    flex-wrap: wrap;
}

.arrow {
    margin-left: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 16px;
}


h1{
    font-size: 14px;
    margin-left: 8px;
    margin-top: 18px;
    margin-bottom: 18px;
}


.home {
    width: 86px;
    height: 40px;
    font-size: 32px;
}
#search{
    margin-left: 173px;
}

.recently {
    font-size: 24px;
}

.header-img-two {
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 24px;
    margin-right: 24px;
}

.header-for {
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
}

.logo-name{
    padding: 12px;
    border: 0px solid black;
    border-radius: 50px;
    background-color: #28A745;
    margin: 10px;
    color: white;
}

#second-section{
    text-align: center;
    border: 1px solid none;
    border-radius: 8px;
    background-color: #007548;
    height: 320px;
    width: 296px;
}

.section-img {
    padding-left: 132px;
    padding-right: 132px;
    padding-top: 40px;
}
.name{
    margin-left: 89px;
    margin-right: 89px;
    font-size: 18px;
    font-weight: 800;
    color: white;
}
.name-two {
    text-align: center;
    margin-left: 89px;
    margin-right: 89px;
    font-size: 18px;
    font-weight: 800;
    color: black;
}

.address{
    color: white;
    font-size: 14px;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 40px;
}

p{
    font-size: 14px;
    color: white;
    margin-left: 85px;
    margin-right: 85px;
    margin-top: 12px;
    margin-bottom: 68px
}

.para-one {
    font-size: 14px;
    color: black;
    margin-left: 85px;
    margin-right: 85px;
    margin-top: 12px;
    margin-bottom: 68px
}


#third-section {
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid none;
    border-radius: 8px;
    height: 320px;
    width: 296px;
}

section{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 43px;
    gap: 32px;
}

.bbb {
    font-size: 30px;
    text-align: center;
    margin: auto;
}

.view-one {
    margin-bottom: 150px;
    box-shadow: 0px 0px 2px 2px;
    font-size: 14px;
    font-weight: bold;
    background-color: #007548;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 12px 24px;
    gap: 4px;
}

.view-one:hover {
    color: black;
}

#section-two,
#section-three,
#section-four,
#section-five{
    border: 0px solid;
    width: 296px;
    height: 164px;
    background-color: white;
    margin-left: 43px;
    margin-top: 24px;
    gap: 32px;
}

.img-one{
    height: 20px;
    width: 20px;
    margin-top: 24px;
    margin-right: 252px;
    margin-left: 24px;
}

.efg{
    font-size: 16px;
    margin-top: 16px;
    margin-left: 24px;
}
.jjj{
    width: 16px;
    height: 16px;
    margin-left: 24px;

}
.kkk{
    display: inline;
    font-size: 14px;
}
.lll{
    width: 16px;
    height: 16px;
    margin-left: 24px;
    margin-top: 12px;
}
.mmm{
    display: inline;
    width: 14px;
    margin-left: 12px;
    margin-top: 8px;

}
#lmn{
    display: inline;
}
#pov{
    display: block;
}

#main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ooo,
.yes{
    margin-left: 24px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
}

footer {
    justify-content: space-around;
    align-items: center;
    margin-top: 88px;
    background-color: #343A40;
    width: auto;
    height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    font-family: Roboto;
}

footer > h2, h3, h4 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 32px;
}

footer > h1 {
    margin-top: 32px;
    margin-bottom: 32px;
}


.zzz{
    margin-left: 12px;
    margin-bottom: 0;
    margin-top: 12px;
    font-style: medium;
}
.qqq{
    font-size: 11px;
    color: #FFFFFF;
    font-weight: 400;
    margin-top: 0;
    margin-left: 12px;
}
/* 
footer{
    background-color: #6C757D;
    height: 80px;
    margin-top: 88px;
    display: flex;
    color: white;
    align-items: end;
    height: auto;
    flex-wrap: wrap;
    width: auto;
}
#copyRight {
    padding-left: 20px;
    height: 59px;

}
#foot {
    height: 60px;
    display: flex;
    margin-left: auto;
    gap: 30px;
    margin-right: 50px;
    align-items: center;

}
.footP{
    font-size: 14px;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 32px;
} */


@media  screen and (max-width: 477px) {    
header {
    padding: 0;
    background-color: #343A40;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.header-main-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/* footer{
    background-color: #6C757D;
    display: flex;
    color: white;
    align-items: end;
    height: auto;
    flex-wrap: wrap;
    width: auto;
    flex-direction: column;
}

#foot {
    height: 60px;
    display: flex;
    margin-left: auto;
    gap: 0px;
    margin-right: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    

}
.footP{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

} */
}
